In [14]:
# Defino mi función
def rocket_parts():
    print('payload, propellant, structure')
# Llamo a mi función
>>> rocket_parts()
'payload, propellant, structure'
>>> output = rocket_parts()
payload, propellant, structure

>>> output is None
True

SyntaxError: invalid syntax (1513965876.py, line 5)

In [10]:
>>> def rocket_parts():
...     return 'payload, propellant, structure'
...
>>> output = rocket_parts()
>>> output
'payload, propellant, structure'

'payload, propellant, structure'

In [6]:
>>> any([True, False, False])
True
>>> any([False, False, False])
False

False

In [18]:
>>> any()
Traceback (most recent call last):
  File '<stdin>', line 1, in <module>
TypeError: any() takes exactly one argument (0 given)
>>> str()
''
>>> str(15)
'15'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2374180821.py, line 2)

In [19]:
def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

In [20]:
>>> distance_from_earth()
Traceback (most recent call last):
  File '<stdin>', line 1, in <module>
TypeError: distance_from_earth() missing 1 required positional argument: 'destination'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (611234114.py, line 2)

In [21]:
>>> distance_from_earth('Moon')
'238,855'

'238,855'

In [22]:
>>> distance_from_earth('Saturn')
'Unable to compute to that destination'

'Unable to compute to that destination'

In [23]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [24]:
>>> days_to_complete(238855, 75)
132.69722222222222

132.69722222222222

In [25]:
>>> total_days = days_to_complete(238855, 75)
>>> round(total_days)
133

133

In [26]:
>>> round(days_to_complete(238855, 75))
133

133

In [27]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

In [28]:
>>> arrival_time()
'Arrival: Saturday 16:42'

'Arrival: Saturday 16:42'

In [29]:
>>> arrival_time(hours=0)
'Arrival: Thursday 13:42'

'Arrival: Thursday 13:42'

In [30]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

In [31]:
>>> arrival_time('Moon')
'Moon Arrival: Saturday 16:54'

'Moon Arrival: Saturday 16:54'

In [32]:
>>> arrival_time('Orbit', hours=0.13)
'Orbit Arrival: Thursday 14:11'

'Orbit Arrival: Thursday 14:11'

In [33]:
def variable_length(*args):
    print(args)

In [34]:
>>> variable_length()
()
>>> variable_length('one', 'two')
('one', 'two')
>>> variable_length(None)
(None,)

()
('one', 'two')
(None,)

(None,)

In [35]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'

In [36]:
>>> sequence_time(4, 14, 18)
'Total time to launch is 36 minutes' 
>>> sequence_time(4, 14, 48)
'Total time to launch is 1.1 hours'

'Total time to launch is 1.1 hours'

In [37]:
def variable_length(**kwargs):
    print(kwargs)

In [38]:
>>> variable_length(tanks=1, day='Wednesday', pilots=3)
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [40]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')

In [41]:
>>> crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')
3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

SyntaxError: invalid syntax (2979446597.py, line 2)